.mission-section {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.mission-content {
  min-width: 250px;
}
.mission-section h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: left;
}
.mission-section p {
  font-size: 20px;
  font-weight: 400;
}
.mission-section img {
  width: 400px;
}

.team-section h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: left;
}
.team-intro {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.team-list {
  display: flex;
  gap: 40px; /* відстань між блоками */
  flex-wrap: nowrap; /* щоб ряд не переносився */
}

.team-list img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}
.team-text {
  font-size: 15px;
  font-weight: 500;
  padding: 10px 15px;
  text-align: center;
}
.request-section h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: left;
}
.request-section p {
  font-size: 20px;
  font-weight: 400;
}
