/* === MODAL FORM === */

.modal {
    position: fixed;
    z-index: 9999;
    padding: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: #145426;
    justify-content: center;
    align-items: center;
    transform: scale(0.9);
  
    /* Не ховати через display */
    display: flex;
  
    opacity: 0;
    pointer-events: none;
  
    transition: opacity 0.3s ease, transform 0.3s ease;
    animation-fill-mode: both;
  }
  .modal h2 {
    color: #145426;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: left;
  }
  
  .modal-content {
    background-color: var(--main-bg);
    margin: auto;
    padding: 30px;
    border-radius: 8px;
    max-width: 960px;
    position: relative;
    overflow: hidden;
    max-height: 90vh;
    overflow-y: auto;
  }
  .close-modal {
    position: absolute;
    top: 15px;
    right: 30px;
    color: #145426;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    z-index: 10;
  }
  .contact-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .form-column {
    flex: 1 1 50%;
    padding: 40px;
    background-color: #d8d8d8;
  }
  .form-column label {
    font-weight: bold;
  }
  .form-column form input,
  .form-column form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #145426;
    border-radius: 5px;
  }
  .info-column {
    flex: 1 1 50%;
    position: relative;
    overflow: hidden;
  }
  .info-column h2 {
    color: #d8d8d8;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: left;
  }
  .contact-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  .info-overlay {
    position: absolute;
    top: 100px;
    left: 20px;
    right: 20px;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
    color: #d8d8d8;
  }
  .info-overlay p {
    margin-bottom: 20px;
  }
  .social a {
    margin-right: 15px;
  }
  .social a img {
    filter: brightness(0) invert(1); /* Білі іконки, якщо svg чорні */
    transition: filter 0.3s ease;
  }
  .social a:hover img,
  .social a:focus img {
    filter: brightness(0) invert(0.7) sepia(1) saturate(5) hue-rotate(200deg);
  }
  
  /* Ключові кадри для анімації */
  @keyframes fadeInModal {
    from {
      opacity: 0;
      transform: translateY(-30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeOutModal {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-30px);
    }
  }
  
  /* Поява */
  .modal.show {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    animation-name: fadeInModal;
  }
  
  /* Зникнення  */
  .modal.hide {
    opacity: 0;
    pointer-events: none;
    transform: scale(0.9);
    animation-name: fadeOutModal;
  }
  