.quiz-floating-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: #145426;
  color: var(--text-main);
  padding: 12px 20px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
